* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
/* END OF GLOBAL STYLES */
header {
    height: 65vh;
    background-image: url("img/glasses-bg.png");
    background-position: center;
    
    background-size: cover;
    
}
ul {
    display: flex;
    width: 100%;
    height: 13vh;
    background: cadetblue;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
ul li {
    padding: 0 1.3rem;
    display: flex;

}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover {
    color: rgba(250, 224, 224, 0.822);
}
.menu {
    display: none;
    margin-right: 3rem;
    color: white;
    text-decoration: none;
}

.logo-wrap{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 1rem;
    font-weight: 700;
}
.logo-wrap img {
    margin-right: 1rem;
    height: 2rem;
}
.nav-items {
    display: flex;
    height: 100%;
    align-items: center;
   
}
@media only screen and (max-width: 635px) {
   .nav-items {
       display: none;
   }
   ul{
       height: 3rem;
   }
   .hero-text h1 {
       font-size: 1.5rem;
   }
   .menu {
       display: block;
   }
}

@media only screen and (max-width: 500px){
    .logo-title {
        display: none;

    }
}
.hero-text {
    position: relative;
    top: 5rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.hero-text h1{
    letter-spacing: 0.1rem;
    padding: 2rem 3rem;
    background: white;
    display: flex;
    width: 25rem;
    justify-content: center;
    
}
@media only screen and (max-width: 370px) {
    .hero-text h1 {
        padding: 1rem 2rem;
        width: 100%;
        font-size: 1rem;
    }
}
/* END OF HEADER AND HERO SECTION */
.salespoints{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}
.salespoint img {
   width: 3.5rem;
}
.salespoint {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 2rem;
    width: 7rem;
    height: 7rem;
    text-align: center;
    
}
.salespoint h3 {
    font-size: 0.8rem;
    margin-top: 1rem;
}
.more-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 3rem auto;
    
}

.info-contain {
    width: 30%;
   
    
}
.title{
    text-align: left;
    background: cadetblue;
    display: flex;
    width: 10rem;
    height: 2rem;
    color: white;
    margin-bottom: 1rem;
}
.info-contain h2 {
    font-size: 1rem;
    
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    
    
}
@media only screen and (max-width: 635px) {
    .info-contain {
        width: 45%;
        
    }
    .contain3 {
        display: none;
    }
    
}
@media only screen and (max-width: 445px) {
    .salespoints {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .salespoint {
        margin-bottom: 2rem;
    }
    .salespoint h3 {
       text-align: center;
        margin-top: 0;
    }
    .info-contain {
        width: 100%;
    }
    .more-info {
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .title {
        width: 100%;
        padding: 0;
        display: inline-block;
        text-align: center;
    }
    .info-text {
        padding: 1rem;
        text-align: center;
    }
}

/* END OF MAIN SECTION */
footer {
    display: flex;
    height: 10rem;
    background:rgb(192, 224, 226);
    width: 100%;
    align-items: center;
    padding-left: 5rem;
    margin-top: 3rem;
}
.footer-logo {
    display: flex;
}
footer img {
    height: 1.5rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 635px) {
    footer {
        height: 7rem;
    }
}

@media only screen and (max-width: 445px) {
    .footer-text {
        display: none;
    }
    .footer-logo{
        display: flex;
        width: 100%;
        justify-content: center;
        
        
    }
    footer {
        padding:0;
    }
    .footer-logo img {
        margin: 0;
        height: 2rem;
    }
}

/* END OF FOOTER */